.vscode
__pycache__
*.pyc
CSC43042EP-td1-1-handin/grader.py
CSC43042EP-td1-1-handin/csv
CSC43042EP-td1-1-handin/tests
CSC43042EP-td2-1-handin/grader.py
CSC43042EP-td2-1-handin/csv
CSC43042EP-td3-1-handin/quiz
CSC43042EP-td3-1-handin/grader.py
CSC43042EP-td3-1-handin/csv
